<!-- Template for App View -->
<div class="hero-unit">
	<h1>Foot Guard is here!</h1>
	
	<h2>You now have</h2>
	<ul>
		<li>RequireJS (<a href="http://requirejs.org/">http://requirejs.org/</a>)</li>
		<li>Backbone (<a href="http://backbonejs.org/">http://backbonejs.org/</a>)</li>
		<li>Sass (<a href="http://sass-lang.com/">http://sass-lang.com/</a>)</li>
		<li>HTML5 Boilerplate (<a href="http://html5boilerplate.com/">http://html5boilerplate.com/</a>)</li>
		<li>Twitter Bootstrap (<a href="http://twitter.github.com/bootstrap/">http://twitter.github.com/bootstrap/</a>)</li>
		<li>Mocha test (<a href="http://visionmedia.github.com/mocha/">http://visionmedia.github.com/mocha/</a>)</li> 
		<li>with Test'em (<a href="https://github.com/airportyh/testem">https://github.com/airportyh/testem</a>)</li>
	</ul>
	<p>installed.</p>
	
	<h2>Generators</h2>
	<ul>
		<li><code>yo footguard:collection</code> create Backbone Collection class (with model if you want)</li>
		<li><code>yo footguard:model</code> create Backbone Model class</li>
		<li><code>yo footguard:helper</code> create a helper class</li>
		<li><code>yo footguard:view</code> create Backbone View class (with model, template and Sass file)</li>
	</ul>

	<h2>Command</h2>
	<ul>
		<li><code>grunt server</code> to launch your project with watch and livereload</li>
		<li><code>grunt compile</code> to compile all Sass, less and CoffeeScript files</li>
		<li><code>grunt build</code> to build a deploy version of your project</li>
		<li><code>testem</code> to launch unit test with Test'em'</li>
	</ul>
	
	<h2>For start</h2>
	<p>
		Delete this HTML code in <code>app/templates/app.html</code> and Sass style in <code>src/sass/_app.sass</code>.<br />
		Start coding!
	</p>
	
	<h3>Enjoy coding! - Yeoman</h3>
</div>