<!-- Template for App View -->
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    tex2jax: {
        inlineMath: [
            ['$$$', '$$$'],
            ['\\(', '\\)']
        ]
    }
});
</script>

<!-- Report starts here -->
<h1>Hi, welcome.</h1>
<h2>What is it?</h2>
<p>Dislike typing LaTeX reports?</p>
<p>Here's a template which gets you up and running with printing your school homework, set in Markdown, with the power of LaTeX.</p>

<p>Here's some Math with $$\alpha \beta $$:</p>

$$
F = \frac {G m_1 m_2} {r^2}
$$

<pre>
  <code> a = abc</code>
</pre>

Or type some <code>inline code</code> like suck

<p>Try printing this out!</p>

<!-- Report ends here -->
